* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("https://i.pinimg.com/736x/76/e1/0e/76e10e401ab837c1ef25154953c10e0a.jpg");
    padding: 30px;
}

.table-container {
    max-width: 1100px;
    margin: auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #2079b4e8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

caption {
    caption-side: top;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    background: #511721de;
    color: rgb(251, 245, 245);
}

th, td {
    border: 1px solid #231818;
    padding: 12px;
    text-align: center;
}

thead th {
    background: #44484bdc;
    color: white;
}

tbody th {
    background: #6f92b6a4;
    font-weight: bold;
}

.break {
    background: #ffe066;
    font-weight: bold;
    color: #000;
}

.footer-row td {
    background: #091f40b1;
    color: white;
    font-weight: bold;
    text-align: center;
}

tr:hover td {
    background: #f1f3f5;
}
